.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorMessage {
    margin-top: 10px;
    color: red;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

.loginButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
