.notificationsContainer {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: white;
    z-index: 3;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid;
    box-sizing: border-box;
    color: black;
    position: relative;
}

.notificationInfo {
    border-color: blue;
    color: blue;
}

.notificationSuccess {
    border-color: green;
    color: green;
}

.notificationFailure {
    border-color: red;
    color: red;
}
