.todolistContainer {
    min-height: 360px;
    height: 360px;
    overflow: auto;
    margin-bottom: 10px;
}

.loaderContainer {
    composes: todolistContainer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsContainer {
    composes: todolistContainer;
    display: flex;
    flex-direction: column;
    position: relative;
}