.todolistContainer {
    min-height: 320px;
    height: 320px;
    overflow: auto;
}

.loaderContainer {
    composes: todolistContainer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsContainer {
    composes: todolistContainer;
    display: flex;
    /*justify-content: space-evenly;*/
    /*align-items: stretch;*/
    flex-direction: column;
}