.centralizedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.editable {
    cursor: pointer;
}

.notAllowed {
    cursor: not-allowed;
}
