.toolBarContainer {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.toolBarElement {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
}

.toolBarElement:nth-child(1) {
    margin-left: 0;
}

.active {
    border: solid 1px;
    border-radius: 5px;
}
