.toolBarContainer {
    display: flex;
    width: 200px;
}

.toolBarElement {
    flex-grow: 1;
    display: inline-block;
    cursor: pointer;
}

.toolBarElementDescSort::before {
    content: ' \2191';
}

.toolBarElementAscSort::before {
    content: ' \2193';
}