.todoItemContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
}

.todoItemTextElement {
    overflow: hidden;
}
