.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: relative;
    border: solid 1px;
}

button:global {
    margin-top: 10px;
    outline: none;
    border: solid 1px;
    background-color: white;
}

button:disabled:global {
    background-color: white;
    color: gray;
    border: solid 1px gray;
}
