.appContainer {
    width: 80%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: relative;
    border: solid 1px;
}

.headerTitle {
    margin-left: 10px;
}

button:global {
    border: solid 1px;
    background-color: white;
    border-radius: 5px;
    /*padding: 5px 5px;*/
}

button:hover:global {
    cursor: pointer;
}

button:disabled:global {
    background-color: white;
    color: gray;
    border: solid 1px gray;
    cursor: not-allowed;
}

