.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.inputElement {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.addTodoButtonContainer {
    display: flex;
    justify-content: center;
}
